<h2>Info about adult</h2>
<ng-container *ngIf="adult">

    
    <table>
      <thead>
        <tr>
          <th  >ID</th>
          <th  >Name</th>
          <th  >AGE</th>
          <th  >Address</th>
          <th  >Birthdate</th>
          <th  >Eyecolor</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td id="{{adult['adultID']}}">{{ adult['adultID'] }}</td>
          <td  id="{{ adult['name'] }}">{{ adult['name'] }}</td>
          <td  >{{ adult['age'] }}</td>
          <td  >{{ adult['address'] }}</td>
          <td  >{{ adult['birthdate'] }}</td>
          <td  >{{ adult['eyeColor'] }}</td>
        </tr>
      </tbody>
    </table>