<div class="container container-custom">
<h1 style="text-align: center;">Users</h1>
            <div class="container container-fluid mt-5 mb-5 container-custom">

                <label class="centered-label p-4">
                    <h2 class="text-center">Entities per page</h2>
                </label>
                <input 
                    type="number" 
                    name="entriesPerPage" 
                    placeholder="Type a number" 
                    matInput 
                    [(ngModel)]="entitiesNumber"
                    style="display: block;">
                <button type="button" class="btn btn-secondary mt-3" (click)="onChangeEntitiesPerPage()">Change page number</button>

                <div class="row">
                <div class="form-group">
                    <label class="centered-label p-4">
                        <h2 class="text-center">Search user by username</h2>
                    </label>
                    <input 
                        type="text" 
                        name="options" 
                        class="form-control"
                        placeholder="Select a user" 
                        matInput 
                        [matAutocomplete]="user" 
                        [(ngModel)]="selectedOption"
                        #usernameSearchInput
                        required
                        (input)="search(usernameSearchInput.value)" 
                        matAutocompletePosition="below">
                    <mat-autocomplete 
                        #user="matAutocomplete" 
                        (optionSelected)="onSelection($event)">
                        <div>
                            <mat-option *ngFor="let option of options" [value]="option">
                                Username: {{option.username}}
                            </mat-option>
                        </div>
                        <mat-option *ngIf="options === undefined" disabled>
                            No option
                        </mat-option>
                        <mat-option *ngIf="options !== undefined && options.length === 0" disabled>
                            No results found
                        </mat-option>
                    </mat-autocomplete>
                </div>
            </div>
            

            <div class="container p-5" *ngIf="showEdit">

                <section [formGroup]="roles">
                    <h3> Edit user {{ selectedOption }} roles: </h3>
                    <p><mat-checkbox formControlName="user">User</mat-checkbox></p>
                    <p><mat-checkbox formControlName="moderator">Moderator</mat-checkbox></p>
                    <p><mat-checkbox formControlName="admin">Admin</mat-checkbox></p>
                </section>

                <button class="btn btn-success mt-4" (click)="onUpdateRoles()">Update roles</button>

            </div>

        </div>

</div>