<h2>Update adult</h2>
<form (submit)="updateChild()">
    <label for="name">Name</label>
    <input id = "name" name = "name" [(ngModel)]="name">
    <br><br>
    <label for="age">Age</label>
    <input id = "age" name = "age" [(ngModel)]="age">
    <br><br>
    <label for="address">Address</label>
    <input id = "address" name = "address" [(ngModel)]="address">
    <br><br>
    <label for="birthdate">Birthdate</label>
    <input id = "birthdate" name = "birthdate" [(ngModel)]="birthdate">
    <br><br>
    <label for="eyeColor">EyeColor</label>
    <input id = "eyeColor" name = "eyeColor" [(ngModel)]="eyeColor">
    <br><br>
    <label for="family">family</label>
    <input id = "family" name = "family" [(ngModel)]="family">
    <br><br>
    <button type="submit">Submit</button>
</form>